<section class="why-choose">
    <div class="container why-choose-grid">
        <div class="why-choose-text">
            <span class="section-tag">Why Choose Nestoria</span>
            <h2>More Than Just<br>A Property</h2>
            <p>We offer more than just spaces. We deliver experiences that fit your life and future.</p>

            <ul class="check-list">
                <li><i class="fa-solid fa-circle-check"></i> Wide range of premium rental options</li>
                <li><i class="fa-solid fa-circle-check"></i> Flexible rent terms &amp; easy agreements</li>
                <li><i class="fa-solid fa-circle-check"></i> Personalized recommendations</li>
                <li><i class="fa-solid fa-circle-check"></i> Trusted by thousands of happy clients</li>
            </ul>

            <a href="#" class="btn btn-primary">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="why-choose-image">
            <img src="https://images.unsplash.com/photo-1600210492486-724fe5c67fb0?w=1200&q=80" alt="Modern living room">
        </div>
    </div>
</section>